version: "3.9"

services:
  webapplication:
    image: vprofomis/omislabs-react-app:latest
    container_name: omislabs-react
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    networks:
      - omislabs_network

  # website:
  #   build:
  #     context: ./ubuntu-apache
  #     dockerfile: Dockerfile
  #   ports:
  #     - "8081:8080"

  #   volumes:
  #     - ./nginx.conf:/usr/local/etc/nginx/conf.d/default.conf
  #   networks:
  #     - omislabs_network

networks:
  omislabs_network:
     driver: bridge
